VitaCard365/node_modules/
dist/
build/
supabase/.temp/

# Ignore Expo EAS custom build configs by default, allow only production-ios.yml
.eas/*
!.eas/build/
!.eas/build/production-ios.yml


.env
.env.local
.env.*.local
.env.aws
dist/
build/
supabase/.temp/
