<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>VitaCard365</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.10</string>
	<key>CFBundleVersion</key>
	<string>48</string>
	<key>GMSApiKey</key>
	<string>AIzaSyBg5PGOY4R91A2u9BW_eu6021p7gNJR7pk</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth is used to connect to wellness devices.</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera is used for profile and scanning features.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Usamos tu ubicación para registrar tus recorridos y centrar el mapa.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Usamos tu ubicación para registrar tus recorridos y centrar el mapa.</string>
	<key>NSMotionUsageDescription</key>
	<string>Motion data is used to calculate fitness metrics.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photos are used to update user profile.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>We use Health data you allow to display and track your wellness metrics.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We write Health data only with your permission to keep your metrics up to date.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
